<div class="container">
  <footer class="footer">
    <small>Copyright &copy; <a href="#">The Complete ROR Course</a>
    by <a href="#">Abhijit</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About",pages_about_path%></li>
      </ul>
    </nav>
  </footer>
</div>